@CHARSET "ISO-8859-1";
@font-face {
	font-family: 'thin';
	src: url('font/mplus-1c-thin.ttf');
}
@font-face {
	font-family: 'light';
	src: url('font/mplus-1c-light.ttf');
}
@font-face {
	font-family: 'medium';
	src: url('font/mplus-1c-medium.ttf');
}
@font-face {
	font-family: 'bold';
	src: url('font/mplus-1c-bold.ttf');
}
@font-face {
	font-family: 'regular';
	src: url('font/mplus-1c-regular.ttf');
}

a{
	text-decoration:none;
}
a:link {
	color: #ffffff;
	text-decoration:underline;
}
a:visited {
	 color: #ffffff;
	 text-decoration:underline;
}
a:hover {
	color: #ffffff;
	text-decoration:underline;
}
a:active {
	color: #ffffff;
	text-decoration:underline;
}
table {
    border-spacing: 0;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}
h1{
	font-family: 'bold';
	font-size: 4em;

}
h2{

	font-family: 'medium';
	font-size: 2.5em;
}
h3{
	font-family: 'thin';
	font-size: 1.5em;

}
q:before,q:after {
    content:'';
}
abbr,acronym {
	border: 0;
}
body{
	font-family: 'regular';
	display:none;
	line-height: 1.5em
	font-family: arial,helvetica;
	color: #fff;
	color: rgba(255,255,255,0.9);
}
p{
	font-family: 'light';
	font-size: 1.3em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}
#section2 h3{
	text-align:left;
}
