<div class="column is-three-fifths">
    <div class="block homeblock">
        <h1>About Me</h1>
        <p>
            <ul>
                <li>Name: Yuki Nakata</li>
                <li>Handle: chikuwait</li>
                <li>E-mail: chikuwa.1703 at gmail.com</li>
            </ul>
        </p>
        <h2>Affiliation</h2>
        <p>
            <ul>
                <li>Researcher at SAKURA internet Research Center, SAKURA internet Inc.</li>
            </ul>
            
        </p>
        <h2>Education</h2>
        <ul>
            <p>
                <li>Graduate School of Systems Information Science, Future University Hakodate
                    <ul>
                        <li>Apr. 2020 - Mar. 2022
                        <li>Master of Science in Systems Information Science
                        <li>Advisor: Katsuya Matsubara
                    </ul>
                </li>
            </p>
            <p>
                <li>School of Systems Information Science, Future University Hakodate
                    <ul>
                        <li>Apr. 2016 - Mar. 2020
                        <li>Bachelor of Science in Systems Information Science
                        <li>Advisor: Katsuya Matsubara
                    </ul>
                </li>
            </p>
        </ul>
        <h2>Work Experience</h2>
        <ul>
            <p>
                <li>Researcher at SAKURA internet Research Center, SAKURA internet Inc.
                    <ul>
                        <li>Apr. 2022 - Present</li>
                    </ul>
                </li>
            </p>
            <p>
                <li>Internship at SAKURA internet Research Center, SAKURA internet Inc.
                    <ul>
                        <li>Aug. 2020 - Mar. 2022</li>
                    </ul>
                </li>
            </p>
            <p>
                <li>Research Assistant at Pepabo R&D Institute, GMO Pepabo, Inc.
                    <ul>
                        <li>Apr. 2018 - Dec. 2018</li>
                    </ul>
                </li>
            </p>
            <p>
                <li>Internship at Pepabo R&D Institute/Developer Productivity Team, GMO Pepabo, Inc.
                    <ul>
                        <li>Sep. 2017</li>
                    </ul>
                </li>
            </p>
            <p>
                <li>Internship at K Laboratory, KLab Inc.
                    <ul>
                        <li>Aug. 2017 - Sep. 2017</li>
                    </ul>
                </li>
            </p>
          </ul>
    </div>
</div>
