<div class="column is-three-fifths">
    <div class="block homeblock">
        <h1>About Me</h1>
        <p>
            <ul>
                <li>Name: 中田裕貴(Yuki Nakata)</li>
                <li>Handle: chikuwait</li>
                <li>E-mail: chikuwa.1703 at gmail.com</li>
            </ul>
        </p>
        <h2>Affiliation</h2>
        <p>
            <ul>
                <li>さくらインターネット株式会社　さくらインターネット研究所　研究員</li>
            </ul>
            
        </p>
        <h2>History</h2>
        <ul>
            <li>2022年7月-現在　さくらインターネット株式会社 さくらインターネット研究所　研究員
            <li>2022年4月　さくらインターネット株式会社 入社
            <li>2022年3月　公立はこだて未来大学大学院　システム情報科学研究科高度ICT領域　博士前期課程　修了
            <li>2020年10月-2022年3月　さくらインターネット株式会社　さくらインターネット研究所　アルバイト
            <li>2020年8月-9月　さくらインターネット株式会社　さくらインターネット研究所　インターンシップ
            <li>2020年4月　公立はこだて未来大学大学院　システム情報科学研究科高度ICT領域 博士前期課程　入学
            <li>2020年3月　公立はこだて未来大学　システム情報科学部情報アーキテクチャ学科高度ICTコース　卒業
            <li>2018年4月-12月　GMOペパボ株式会社ペパボ研究所　客員研究員
            <li>2017年9月　GMOペパボ株式会社ペパボ研究所/技術基盤チーム　インターンシップ
            <li>2017年8月-9月　KLab株式会社Kラボラトリー　インターンシップ
            <li>2016年4月　公立はこだて未来大学システム情報科学部　入学
          </ul>
    </div>
</div>
